.Button {
  font-size: 0.8rem;
  font-weight: 600;
  align-self: center;
  border-color: transparent;
  margin-left: 1.5px;
  margin-right: 1.5px;
  padding: 8px 10px;
  min-width: 75px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(59, 130, 246, 0.3);
}

.Button:hover {
  background-color: #0e6ac1 !important;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #0e6ac1 !important;
}

.Button:active {
  background-color: #0e6ac1 !important;
}

.Button:focus {
  background-color: #0e6ac1;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #232a3d;
  border: 1px solid #2142b2;
  color: #fff;
}

.BlueOutline,
.Blue:hover {
  background-color: #2142b2;
  color: #fff;
}

.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: #fff;
}

.Black:hover,
.BlackOutline {
  background-color: #242a3d;
  color: #fff;
}

.Bright {
  background-color: #242a3d;
  color: #fff;
}
