.Draft {
  background-color: #fff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Draft figure,
h5 {
  margin: 0;
}

.Draft img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.DraftMeta {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 0.9rem;
  color: #666;
  flex-wrap: wrap;
}

.DraftMeta span {
  margin-right: 10px;
  margin-bottom: 5px;
}

.PublishButton {
  padding: 8px;
  background-color: #1486fe;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.PublishButton:hover {
  background-color: #0e6ac1;
}
