.NavBar {
  background-color: #fcfcfc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  text-transform: uppercase;
}

.NavLink {
  padding: 5px;
  display: flex;
  align-items: center;
}

.Active i {
  color: #1486fe;
}
